# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Output and Logs
output/
logs/
*.log

# Pytest
.pytest_cache/
.coverage
htmlcov/
